.font-digital-7 {
  font-family: "Digital-7", Arial, sans-serif;
}
.font-led-dot-matrix {
  font-family: "Led dot-matrix", Arial, sans-serif;
}
.font-scoreboard {
  font-family: "Scoreboard", Arial, sans-serif;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 3rem;
}

#eboard_content {
  color: white;
  background-color: black;
  overflow-x: hidden;
}

#arrow {
  position: relative;
  top: 0;
  font-size: 6rem;
}

#quarter {
  font-size: 8rem;
}

#ta_name, #tb_name,
#ta_points, #tb_points,
#ta_fouls, #tb_fouls,
#ta_timeout, #tb_timeout,
#ta_service, #tb_service,
#timer, #arrow, #quarter {
  cursor: pointer;
}

#eboard_config,
#eboard_effects {
  display: none;
}

#eboard_effects > div {
  padding-top: 5px;
  border-top: 1px solid var(--air-dark);
}

#eboard_secondary {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 240px;
  height: 240px;
  background-color: var(--peach);
  padding: 10px;
  border-radius: 20%;
  display: none;
}

#eboard_secondary > h1 {
  color: white;
}

.input-group > .input-group-append > .btn.btn-primary {
  border-color: #ced4da;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}
.input-group > .input-group-prepend > .input-group-text {
  background-color: var(--bluegrey);
  border: 0;
  border-radius: 0;
  opacity: .65;
}