.font-digital-7 {
  font-family: "Digital-7", Arial, sans-serif;
}
.font-led-dot-matrix {
  font-family: "Led dot-matrix", Arial, sans-serif;
}
.font-scoreboard {
  font-family: "Scoreboard", Arial, sans-serif;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 3rem;
}

#eboard_content {
  color: white;
  background-color: black;
  overflow-x: hidden;
}

#arrow {
  position: relative;
  top: 0;
  font-size: 6rem;
}

#quarter {
  font-size: 8rem;
}

#ta_name, #tb_name,
#ta_points, #tb_points,
#ta_fouls, #tb_fouls,
#ta_timeout, #tb_timeout,
#ta_service, #tb_service,
#timer, #arrow, #quarter {
  cursor: pointer;
}

#eboard_config,
#eboard_effects {
  display: none;
}

#roster_details {
  font-size: var(--size-s) !important;
  display: none;
}

#roster_details ul {
  color: var(--cacao) !important;
  padding-left: 10px;
}

#roster_details > div {
  width: 49%;
  vertical-align: top;
  display: inline-block;
}

#roster_details > div label {
  color: var(--cacao) !important;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--bluegrey-light);
  margin-bottom: 4px;
}

.player-nr {
  width: 30px;
  display: inline-block;
}