@font-face {
  font-family: 'Digital-7';
  src: url('fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Led dot-matrix';
  src: url('fonts/LED Dot-Matrix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scoreboard';
  src: url('fonts/scoreboard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #282e71;
  overflow-x: hidden;
}

* {
  box-shadow: none !important;
}

:root {
  --hazelnut: #e6e4c3;
  --hazelnut-light: rgba(247, 246, 217, 0.5);
  --hazelnut-dark: #918f75;
  --mint-light: #d0f2e8;
  --smurf: #81c8df;
  --smurf-dark: #0069d9;
  --smurf-light: #d7f2fb;
  --air: #e2f2f7;
  --air-dark: #a7d7e6;
  --air-light: #f0ffff;
  --cacao: #666;
  --cacao-light: #a8a6a6;
  --cacao-old: #6c757d;
  --apricot: #e36903;
  --apricot-dark: #cc5f03;
  --apricot-light: #f0af7a;
  --bluegrey: #0a2d7e;
  --bluegrey-light: #4161ac;
  --disabled: #e9ecef;
  --size-24: 24px;
  --size-28: 28px;
  --size-32: 32px;
  --size-xs: 10px;
  --size-s: 12px;
  --size-m: 14px;
  --size-l: 16px;
  --size-xl: 18px;
}

.green { color: #3dca5e; }
.orange { color: #ffc107; }
.red { color: #f9051c; }

.h-32 {
  height: 32px !important;
}
.w-32 {
  width: 32px !important;
}

.form-signin {
  width: 600px;
  max-width: unset;
  padding: 15px;
  margin: auto;
  margin-top: 10%;
}

.bg-basket {
  background-color: #c6c9eb !important;
}

.btn-vb {
  color: var(--cacao) !important;
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 50% !important;
}

.btn-vb:hover {
  color: var(--apricot) !important;
  background-color: var(--air-dark) !important;
}

.btn {
  cursor: pointer;
}

.btn.disabled, .btn:disabled {
  cursor: default;
}

.btn-icon.disabled, .btn-icon:disabled {
  opacity: .3;
}

.btn-icon {
  width: var(--size-24);
  height: var(--size-24);
  font-size: 16px;
  line-height: 1.5;
  padding: .375rem;
}
.btn-icon > i {
  position: relative;
  top: -6px;
  left: -2px;
}
.btn-icon > i.bi-caret-down-fill {
  top: -5px;
}

.btn-circle {
  border-radius: 50%;
}

.btn-rounded {
  border-radius: 8px;
}

.btn-group-append > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*.btn-group-append > .btn > i.bi {
  color: #fff;
  font-weight: bold;
}*/

.btn-sm {
  height: var(--size-32);
}

.btn-radio button.btn-success {
  min-width: 100px;
  background-color: #5bd778;
}

.btn-radio button.btn-success.active {
  background-color: #28a745 !important;
}

.btn-radio button.btn-success:hover,
.btn-radio button.btn-success.active:hover {
  background-color: #218838 !important;
}

.btn-outline-basket {
  color: var(--cacao);
  border-color: var(--cacao);
}

.btn-outline-basket:hover {
  color: white;
  background-color: var(--cacao);
}

.dropdown-toggle::after {
  margin-left: .5rem !important;
}

.dropdown-toggle.dropdown-left::after {
  margin-left: 0 !important;
  margin-right: .5rem !important;
  margin-top: 10px !important;
  float: left;
}

.dropdown-menu {
  min-width: 120px;
  z-index: 99;
}

.dropdown-item {
  padding: .25rem .5rem;
}

.modal-header {
  background-color: var(--hazelnut);
}

.modal-title {
  color: var(--smurf-dark);
}

.modal-body {
  background-color: var(--hazelnut-light);
}

.modal-choices .btn {
  margin: 0 10px;
}

.vb-btn-dropdown > .btn-group {
  width: 120px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vb-btn-dropdown > .btn-secondary:disabled,
.vb-field-text > .btn-secondary:disabled {
  color: #fff;
  background-color: var(--bluegrey);
  border: 0;
  border-radius: 0;
}

.vb-btn-dropdown .dropdown-menu {
  background-color: var(--air-dark);
  padding: .5rem;
}

.vb-btn-dropdown .dropdown-menu > .dropdown-item {
  color: var(--cacao);
  background-color: transparent;
}
.vb-btn-dropdown .dropdown-menu > .dropdown-item:hover {
  color: var(--apricot);
  background-color: transparent;
}

.vb-btn-dropdown.vb-btn-icon > .btn-group {
  width: unset !important;
  border-radius: 50%;
}

.vb-btn-dropdown.vb-btn-icon > .btn-secondary:disabled {
  width: 40px !important;
}

.vb-btn-dropdown.vb-btn-icon.dropdown-toggle::after,
.vb-btn-dropdown.vb-btn-icon .dropdown-toggle::after {
  display: none;
}

.vb-field-date > .input-group-prepend,
.vb-field-date > .input-group-prepend > span,
.vb-field-dropdown > .input-group-prepend,
.vb-field-dropdown > .input-group-prepend > span,
.vb-field-text > .input-group-prepend,
.vb-field-text > .input-group-prepend > span {
  width: 180px;
  border-radius: 0;
}

.vb-field-date > .btn-group,
.vb-field-dropdown > .btn-group {
  width: calc(100% - 180px);
}

.vb-field-date > .btn-group > .form-control,
.vb-field-dropdown > .btn-group > .form-control {
  text-align: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vb-field-date > .btn-group > .form-control + i.input-prefix {
  position: absolute;
  top: 10px;
  right: 10px;
}

.vb-btn-dropdown .btn-group-append > .dropdown-toggle::after,
.vb-btn-dropdown .btn-group-prepend > .dropdown-toggle::after,
.vb-btn-dropdown.dropdown-toggle::after,
.vb-field-dropdown > .btn-group > .dropdown-toggle::after {
  position: absolute;
  top: 15px;
  right: 10px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vb-content {
  position: relative;
  top: 0;
  left: 50%;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  overflow-y: auto;
  z-index: 0;
}

.vb-content.vb-tab {
  width: 900px;
  margin-left: -450px;
  background-color: transparent;
  padding: 0;
}
.vb-content.vb-tab > .vb-tab-left,
.vb-content.vb-tab > .vb-tab-right {
  min-height: 340px;
  vertical-align: top;
  padding: 10px;
  display: inline-block;
}
.vb-content.vb-tab > .vb-tab-left {
  width: 60%;
  background-color: var(--air);
}
.vb-content.vb-tab > .vb-tab-right {
  width: 39%;
  background-color: var(--air-light);
}

.vb-content.vb-tab > .vb-tab-left .vb-tab-title,
.vb-content.vb-tab > .vb-tab-right .vb-tab-toolbar {
  height: 36px;
  background-color: transparent;
  text-align: right;
  border-bottom: 1px solid var(--bluegrey-light);
}
.vb-content.vb-tab > .vb-tab-left .vb-tab-title {
  font-size: 20px;
  color: var(--bluegrey-light);
}

.vb-content.vb-tab > .vb-tab-left .vb-tab-title i.bi,
.vb-content.vb-tab > .vb-tab-right .vb-tab-toolbar i.bi {
  font-size: 16px;
}

.vb-content.vb-list {
  width: 1200px;
  margin-left: -600px;
}
.vb-content.vb-list .table {
  font-size: 14px;
}
.vb-content.vb-list .table thead tr th {
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
.vb-content.vb-list .table thead tr:first-child th {
  border-top: 0;
}
.vb-content.vb-list .table-striped tbody tr {
  color: var(--cacao);
  cursor: pointer;
}
.vb-content.vb-list .table-striped tbody tr:hover {
  color: var(--apricot);
}
.vb-content.vb-list .table-striped tbody tr td {
  font-weight: 600;
  white-space: nowrap;
}
.vb-content.vb-list .table-striped tbody tr:nth-of-type(2n+1) {
  /*background-color: rgba(218, 241, 255, 0.5);*/
  background-color: var(--air-light);
}

.form-navbar {
  height: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--air);
  margin: 0 0 20px 0;
}

.form-navbar h5 {
  color: var(--bluegrey-light);
}

.form-navbar h5 > i {
  font-size: 1rem;
}

/*.vb-tab {
  position: relative;
  top: 0;
  left: 50%;
  padding: 10px;
  border-radius: 4px;
  margin-left: -450px;
  z-index: 0;
  width: 900px;
  background-color: rgba(247, 246, 217, 0.5);
}*/

.vb-free {
  position: absolute;
  padding: 5px;
  display: none;
  z-index: 99;
}

.vb-menu {
  margin-right: 10px;
  display: none;
}

.vb-menu .btn-group {
  margin-right: 10px;
}

.vb-image {
  height: 240px;
  width: 240px;
  min-width: 200px;
  padding: 15px;
  background-color: var(--cacao-light);
  border-radius: 50%;
  margin: 10px auto;
}

.vb-image > img {
  border: 2px solid var(--cacao);
  border-radius: 2px;
}

.dragging {
  opacity: .7;
}

/* inizio: Menù interfaccia */
#ui_navbar {
  background-color: #fff;
}

.vb-navbar {
  width: 100%;
  background-color: var(--air);
  padding: 10px;
  margin: 0;
  z-index: 99;
}

.vb-navbar .form-group {
  display: inline-block;
}

.vb-navbar .btn > i.bi {
  margin-right: 3px;
}

a.navlink {
  height: 24px !important;
  text-transform: uppercase;
  margin: auto 0;
  display: inline-block;
}
a.navlink > img {
  height: 100%;
}

a.btn-link {
  color: var(--cacao);
  text-decoration: none;
}
a.btn-link:focus,
a.btn-link:hover {
  color: var(--apricot);
  text-decoration: none;
}
a.btn-link.active,
a.btn-link.active:focus,
a.btn-link.active:hover {
  color: var(--apricot-dark);
  background-color: transparent;
  text-decoration: none;
  cursor: default;
}

div.btn-link {
  width: 48px;
  height: 48px;
  position: relative;
  top: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 50%;
  border: 4px solid white;
  transition: all 0.1s linear;
  cursor: pointer;
  display: inline-block;
}
div.btn-link.active {
  border-color: var(--apricot);
  cursor: default;
}
div.btn-link:hover,
div.btn-link.active:hover {
  border-color: var(--apricot-light);
}

a#navlink_account {
  position: relative;
  top: 10px;
  margin: unset;
}

a#navlink_account > i.bi {
  font-size: 1.5rem;
}
/* fine: Menù interfaccia */

#ui_content h4 {
  font-weight: 600;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Form su 2 colonne */
/* inizio */
.form-data,
.form-label {
  list-style: none;
  display: inline-block;
}
.form-data {
  min-width: 300px;
  padding-left: 20px;
}
.form-label {
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
}

.form-data > li,
.form-label > li {
  height: var(--size-32) !important;
  padding: 0;
  margin-bottom: 16px;
}

.sidebar .form-data li.btn-boolean,
.vb-date > button.form-control, .vb-date > input.form-control,
.vb-dropdown > button.form-control, .vb-dropdown > input.form-control,
.vb-text > button.form-control, .vb-text > input.form-control {
  color: var(--cacao);
  text-align: left;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.sidebar .form-data li.btn-boolean:hover,
.vb-date > button.form-control:hover, .vb-date > input.form-control:hover,
.vb-dropdown > button.form-control:hover, .vb-dropdown > input.form-control:hover,
.vb-text > button.form-control:hover, .vb-text > input.form-control:hover {
  color: var(--apricot-light);
  background-color: white;
}
.sidebar .form-data li.btn-boolean:focus,
.vb-date > button.form-control:focus, .vb-date > input.form-control:focus.
.vb-dropdown > button.form-control:focus, .vb-dropdown > input.form-control:focus,
.vb-text > button.form-control:focus, .vb-text > input.form-control:focus {
  color: var(--cacao);
  background-color: white;
}

.vb-date:hover > input.form-control::placeholder {
  color: var(--apricot-light);
}

.vb-dropdown > button.dropdown-toggle::after {
  float: right;
  margin-top: .5rem;
  margin-left: 0 !important;
}

.vb-dropdown > div.dropdown-menu {
  width: 100%;
}

.vb-dropdown a.dropdown-item:hover {
  background-color: transparent;
}

.vb-dropdown a.dropdown-item.active > i {
  float: right;
  margin-top: 3px;
}
/* fine */

tr.game-row.text-success > td.game-toolbar button.btn-icon {
  visibility: hidden;
}

/* SIDEBAR */
/* inizio */
.sidebar {
  width: 300px !important;
  position: absolute;
  top: 20px;
  right: -300px;
  font-size: 14px;
  padding: 15px;
}

.sidebar h5 {
  font-size: 16px;
  color: var(--bluegrey-light);
}

.sidebar div.nav-item,
.sidebar li.nav-item {
  padding: 5px 0;
}

.sidebar li.nav-item {
  border-top: 1px solid var(--air-dark);
}

.sidebar li.nav-item .btn {
  font-size: 14px;
}

.sidebar .form-label {
  width: 100px;
  vertical-align: top;
  padding-right: 10px;
}

.sidebar .form-data {
  vertical-align: top;
  padding-left: 10px;
}

.sidebar .form-data ul {
  list-style: none;
  padding-left: 0;
}

.sidebar .form-data .dropdown-toggle {
  min-width: 120px;
}

.sidebar .form-data i.bi {
  font-size: 16px;
  margin-right: 5px;
}
/* fine */
/* SIDEBAR */